.profile_image{
    height: 210px;
}

body{
    text-align: center;
    background-image: url("./icons/back2.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.icons > img {
    height: 100px;
    padding: 0 20px;
}

.icons > div{
    margin: 10px;
}

.icons > p {
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
}

.name{
    font-family: 'Quicksand', sans-serif;
}